<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAcess.Properties.Settings.StringCon" connectionString="Server = tcp:DESKTOP-JDPDNB3\SQLEXPRESS, 49500; DataBase = VendasOficina; User Id = OficinaUser; Password = babylu13;" />
    </connectionStrings>
</configuration>